html {
    font-family: var(--global-font-family);
    font-size: var(--global-font-size);
    color: var(--global-font-color);
}

a {
    color: var(--global-font-color);
}

body {
    background-color: var(--bg-color-darker);
    line-height: var(--global-line-height);
    min-height: 100vh;
}

div.wrapper {
    display: grid;
    width: 100%;
    height: 100%;
}

div.body-wrapper {
    min-height: 100vh;
}

/* Header */
header {
    width: 100%;
    height: 70px;
    background-color: var(--bg-color-dark);
    background-image: url('../img/asfalt-light.png');
    border-bottom: var(--global-border-thickness) solid var(--global-border-color);
}

div.header-wrapper {
    align-items: center;
}

div.header-wrapper > h1 {
    font-size: 2.3em;
    letter-spacing: 3px;
    line-height: 1;
    transition: all 0.5s;
    display: inline-block;
    width: fit-content;
}

div.header-wrapper > h1 > a {
    text-decoration: none;
}

div.header-wrapper > h1::before, div.header-wrapper > h1::after {
    color: var(--global-border-color);
}

div.header-wrapper > h1::before {
    content: '[';
}

div.header-wrapper > h1::after {
    content: ']';
}

div.header-wrapper > h1:hover {
    letter-spacing: 2vw;
    text-shadow: calc(190.2px + 2vw * 5) 0 0 rgba(180, 142, 173, 0.2);
}

/* Footer */
footer {
    background-color: var(--bg-color-dark);
    background-image: url('../img/asfalt-light.png');
    height: auto;
    padding: var(--global-padding);
    border-top: var(--global-border-thickness) solid var(--global-border-color);
}

div.footer-wrapper {
    place-items: center;
}