:root {
    --rowcount: 0;
}

menu {
    list-style-type: none;
}

/* Scroll */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

body {
    overflow-y: hidden;
}

/* Header */
header {
    min-height: 118px;
    border: none;
    position: fixed;
    z-index: 2;
}

div.header-wrapper {
    align-items: none;
}

div.header-wrapper > h1 {
    align-self: end;
}

header nav {
    min-height: 40px;
    height: auto;
    align-self: end;
    border-top: 2px solid var(--global-border-color);
}

div.nav-wrapper {
    grid-template-columns: repeat(var(--rowcount), 1fr);
    align-content: center;
    padding: 5px 10px;
    min-height: 40px;
}

div.nav-wrapper > a {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    background-color: var(--bg-color);
    padding: 0 10px;
    border: 2px solid var(--global-link-hover-color);
    transition: all 0.5s;
    margin: auto;
}

div.nav-wrapper > a:hover {
    color: var(--global-link-hover-color);
    border-color: var(--global-font-color);
}

/* Main */
main {
    margin: 20px 0;
    padding: 110px 20px 0 20px;
    min-width: 760px;
}

main > div.main-wrapper {
    grid-template-rows: repeat(var(--rowcount), 85vh);
    grid-row-gap: 20px;
}

article.main-slide {
    min-height: 750px;
}

article.main-slide > div.wrapper.article-wrapper {
    background-color: var(--bg-color-dark);
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; */
    padding: 10px 25px;
    display: block;
    position: relative;
}

article.main-slide > div > h2 {
    font-size: 50px;
    font-weight: bold;
    grid-column: 1 / 3;
}

div.wrapper.article-wrapper::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-right: 10px solid var(--global-link-hover-color);
    border-bottom: 10px solid var(--global-link-hover-color);
    bottom: 25px;
    right: 25px;
}

@media (max-height: 930px) {
    main > div.main-wrapper {
        row-gap: 350px;
        grid-template-rows: repeat(var(--rowcount), 500px);
    }

    /*main {
        margin: calc((100vh - 118px) * 0.085) 0;
    }
    html {
        scroll-padding-top: calc(130px + (100vh - 118px) * 0.06);
    } */
    body {
        overflow-y: auto;
    }
}


/* Kuba */
article.main-slide h2 {
    color: var(--global-link-hover-color);
    text-transform: lowercase;
}

article#slide1 div.article-content-wrapper, article#slide2 div.article-content-wrapper {
    gap: 30px; 
    font-size: 1.6vw;
}

article.main-slide div.article-content-wrapper {
    height: fit-content;
}

article#slide1 p {
    display: inline-block;
    width: 100%;
    text-align: left;
    height: fit-content;
}

article#slide3 div.article-content-wrapper {
    height: 100%;
    grid-template-rows: 330px 400px;
}

menu.horizontal-menu-example {
    background-color: var(--bg-color);
    display: flex;
    list-style-type: none;
    width: 80%;
    margin: auto;
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    min-width: 800px;
    margin-top: 10px;
}

menu.horizontal-menu-example > li {
    width: 100%;
    text-align: center;
    transition: background-color 0.5s;
    padding: 0 5px
}

menu.horizontal-menu-example > li:hover {
    background-color: var(--global-link-hover-color);
}

menu.submenu-example1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    justify-content: space-around;
    text-align: left;
    background-color: rgba(46, 52, 64, 0.7);
    display: none;
    font-size: 0.9em;
}

menu.submenu-example1 h3 {
    font-weight: bold;
}

menu.submenu-example1 menu {
    cursor: default;
}

menu.submenu-example1 menu > li {
    transition: color 0.5s;
    cursor: pointer;
}

menu.submenu-example1 menu > li:hover {
    color: var(--global-link-hover-color);
}

li.submenu-example1-container:hover > menu.submenu-example1 {
    display: flex;
}

li.submenu-example2-container:hover > menu.submenu-example2 {
    display: block;
}

menu.submenu-example2 {
    position: absolute;
    width: 20%;
    left: 20%;
    background-color: var(--bg-color);
    display: none;
}

menu.submenu-example2 > li > h3 {
    transition: color 0.5s;
}

menu.submenu-example2 > li:hover > h3 {
    color: var(--global-link-hover-color);
}

menu.submenu-example2 menu {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: 100%;
    background-color: rgba(46, 52, 64, 0.7);
    width: fit-content;
    transition: color 0.5s;
}

menu.submenu-example2 menu > li {
    padding: 0 2px;
}

menu.submenu-example2 > li:hover > menu {
    display: flex;
}

menu.submenu-example2 menu > li {
    width: max-content;
    padding: 0 10px;
    transition: color 0.5s;
}

menu.submenu-example2 menu > li:hover {
    color: var(--global-link-hover-color);
}

/* Kasper */
.what-is-menu-p {
    width: 45%;
    position: absolute;
    left: 25px;
    top: 200px;
}

.what-is-menu-img {
    width: 400px;
    position: absolute;
    right: 10px;
    top: 20%;
}

/* Franek */
.capital {
    font-weight: bold;
    text-transform: capitalize;
}

.capital::after {
    content: ": ";
}

.list {
    /*list-style-type: ' > ';*/
    list-style-image: url('https://cdn.discordapp.com/attachments/954444585763999794/956647305275125800/menu_1.png');
}
.list li {
    margin: 30px;
}

@media screen and (max-width: 1350px) {
    article#slide1 div.article-content-wrapper, article#slide2 div.article-content-wrapper {
        font-size: 2vw;
    }

    /* article.main-slide > div > h2 {
        font-size: 4vw;
    } */
}

@media screen and (max-width: 1050px) {
    article#slide1 div.article-content-wrapper, article#slide2 div.article-content-wrapper {
        font-size: 2.5vw;
    }

    /* article.main-slide > div > h2 {
        font-size: 5vw;
    } */
}

@media screen and (max-width: 800px) {
    article#slide1 div.article-content-wrapper, article#slide2 div.article-content-wrapper {
        font-size: 20px;
    }

    /* article.main-slide > div > h2 {
        font-size: 40px;
    } */
}