:root {
    --rowcount: 0;
}

/* Scroll */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

/* Header */
header {
    min-height: 118px;
    border: none;
    position: fixed;
}

div.header-wrapper {
    align-items: none;
}

div.header-wrapper > h1 {
    align-self: end;
}

header nav {
    min-height: 40px;
    height: auto;
    align-self: end;
    border-top: 2px solid var(--global-border-color);
}

div.nav-wrapper {
    grid-template-columns: repeat(var(--rowcount), 1fr);
    align-content: center;
    padding: 5px 10px;
    min-height: 40px;
}

div.nav-wrapper > a {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    background-color: var(--bg-color);
    padding: 0 10px;
    border: 2px solid var(--global-link-hover-color);
    transition: all 0.5s;
    margin: auto;
}

div.nav-wrapper > a:hover {
    color: var(--global-link-hover-color);
    border-color: var(--global-font-color);
}

/* Main */
main {
    margin: 20px 0;
    padding: 110px 20px 0 20px;
}

main > div.main-wrapper {
    grid-template-rows: repeat(var(--rowcount), 85vh);
    grid-row-gap: 20px;
}

article.main-slide > div.wrapper.article-wrapper {
    background-color: var(--bg-color-dark);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 5px 25px;
}

article.main-slide > div > h2 {
    font-size: 2em;
    font-weight: bold;
    grid-column: 1 / 3;
}