main {
    width: 100%;
    height: 100%;
}

/* Menu */
menu.lessons-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 100%;
    margin: 5px auto;
    place-items: center;
    grid-row-gap: 12px;
}

menu.lessons-menu > li {
    display: inline-block;
    width: 100%;
    max-width: 350px;
}

a.lessons-link {
    display: inline-block;
    width: 100%;
    height: 250px;
    background: white;
    position: relative;
    transition: all 0.5s;
    -webkit-box-shadow: 9px 9px 20px 0px var(--bg-color-dark);
    -moz-box-shadow: 9px 9px 20px 0px var(--bg-color-dark);
    box-shadow: 9px 9px 20px 0px var(--bg-color-dark);
    border: 2px solid var(--global-link-hover-color);
}

a.lessons-link::after {
    content: "Lekcja 1.";
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    width: 100%;
    height: auto;
}

a.lessons-link.lessons-link2::after {
    content: "Lekcja 2.";
}

a.lessons-link:hover {
    transform: scale(1.1);
    color: var(--global-link-hover-color);
}

/* Responsive main container */
@media (max-width: 950px) {
    menu.lessons-menu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}