:root {
    --rowcount: 0;
}

/* Scroll */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
}

body {
    overflow: hidden;
}

/* Header */
header {
    min-height: 118px;
    border: none;
    position: fixed;
}

div.header-wrapper {
    align-items: none;
}

div.header-wrapper > h1 {
    align-self: end;
}

header nav {
    min-height: 40px;
    height: auto;
    align-self: end;
    border-top: 2px solid var(--global-border-color);
}

div.nav-wrapper {
    grid-template-columns: repeat(var(--rowcount), 1fr);
    align-content: center;
    padding: 5px 10px;
    min-height: 40px;
}

div.nav-wrapper > a {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    background-color: var(--bg-color);
    padding: 0 10px;
    border: 2px solid var(--global-link-hover-color);
    transition: all 0.5s;
    margin: auto;
}

div.nav-wrapper > a:hover {
    color: var(--global-link-hover-color);
    border-color: var(--global-font-color);
}

/* Main */
main {
    margin: 20px 0;
    padding: 110px 20px 0 20px;
    z-index: -1;
}

main > div.main-wrapper {
    grid-template-rows: repeat(var(--rowcount), 85vh);
    grid-row-gap: 20px;
}

article.main-slide > div.wrapper.article-wrapper {
    background-color: var(--bg-color-dark);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 10px 25px;
    position: relative;
}

article.main-slide > div > h2 {
    font-size: 2em;
    font-weight: bold;
    grid-column: 1 / 3;
}

div.wrapper.article-wrapper::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    border-right: 10px solid var(--global-link-hover-color);
    border-bottom: 10px solid var(--global-link-hover-color);
    bottom: 25px;
    right: 25px;
}

@media (max-height: 930px) {
    main > div.main-wrapper {
        grid-template-rows: repeat(var(--rowcount), calc((100vh - 118px) * 0.85));
        grid-row-gap: calc((100vh - 118px) * 0.08);
    }
    main {
        margin: calc((100vh - 118px) * 0.085) 0;
    }
    html {
        scroll-padding-top: calc(130px + (100vh - 118px) * 0.06);
    }
}